ul {
  list-style-type: none;
  padding-left: 0;
}

.correct {
  background-color: rgba(0, 255, 0, 0.5);
}

.comment div {
  font-style: italic;
}

.comment label {
  cursor: pointer;
}

.comment input:not(:checked) + span + div {
  display: none;
}
